<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>火车机票</string>
		<key>label</key>
		<string>me_pay</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>滴滴出行</string>
		<key>label</key>
		<string>me_pay</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>京东购物</string>
		<key>label</key>
		<string>me_pay</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>美团外卖</string>
		<key>label</key>
		<string>me_pay</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>电影演出赛事</string>
		<key>label</key>
		<string>me_pay</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>美团团购</string>
		<key>label</key>
		<string>me_pay</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>酒店</string>
		<key>label</key>
		<string>me_pay</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>拼多多</string>
		<key>label</key>
		<string>me_pay</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>蘑菇街女装</string>
		<key>label</key>
		<string>me_pay</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>唯品会特卖</string>
		<key>label</key>
		<string>me_pay</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>转转二手</string>
		<key>label</key>
		<string>me_pay</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>贝壳找房</string>
		<key>label</key>
		<string>me_pay</string>
	</dict>
</array>
</plist>
